* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  font-family: manrope, sans-serif;
  width: 100vw;
  background-color: #ecf2f8;
}

.social-media-button,
.share-text {
  display: none;
}

.drawers-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #48556a;
}

main {
  padding: 3rem 1.5rem;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 1.5rem;
  color: #48556a;
}

footer a {
  color: #008b8b;
}

.heading {
  font-size: 1.25rem;
}

.card__header,
.card__name {
  color: #48556a;
  font-weight: 700;
}

.card__date {
  color: #6d7f97;
  font-weight: 300;
}

.card__footer {
  display: flex;
  padding-top: 2rem;
}

.card__date {
  font-size: 0.75rem;
}

.card__user-info {
  margin: 0 1rem;
}

.card__user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* margin-right: 1rem; */
}

.share-icon {
  width: 15px;
  height: 15px;
  margin: 0;
}

.share-button {
  width: 35px;
  height: 35px;
  margin-left: auto;
  border: #9eafc2;
  border-radius: 50%;
  align-self: center;
}
